.banner{
  background-image: url(../images/bg-banner.jpg);
  background-size: cover;
  background-position: top left;
  color: #fff;
  height: 100vh;
  @include md{
    background-size: contain;
    height: 700px;
  }
  &-bg{
    left: 0;
    background: #000;
    opacity: .43;
    z-index: 1;
  }
  &__content{
    z-index: 2;
    padding-top: 135px;
    @include md{
      padding-top: 160px; 
    }
  }
  h1{
    font-size: 33px;
    line-height: 1;
    @include sm{
      font-size: 44px;
    }
    @include md{
      font-size: 45px;
    }
    @include lg{
      font-size: 47px;
    }
    @include xl{
      font-size: 56px;
    }
    @include xxl{
      font-size: 65px;
    }
  }
  &__sub-title{
    @include sm{
      font-size: 18px;
    }
    @include md{
      font-size: 22px;
    }
    @include lg{
      font-size: 33px;
    }
    @include xxl{
      font-size: 39px;
    }
  }
  &__search{
    background: rgba(255, 255, 255, .9);
    border-radius: 12px;
    button{
      background: linear-gradient(-229deg,#3851cd 1px,#dc38f6 59%,#9037f8 99%);
      border-radius: 12px;
      transition: .3s;
      &:hover{
        background: linear-gradient(-229deg,#2c40a3 1px,#9b26ad 59%,#6525ad 99%);
        box-shadow: 0px 1px 8px #999;
      }
    }
    svg{
      width: 20px;
      height: 20px;
      @include md{
        width: 25px;
        height: 25px;
      }
    }
  }
  &__link{
    max-width: 1100px;
    margin: 0 auto;
  }
}