$nav-btn-color:#000;
$nav-bgc: #cdcace;


.nav {
    color: rgb(0, 0, 0);
    width: 100%;

    @include nav-desktop {
        width: auto;
        display: flex;
        justify-self: center;
    }

    &-menu__wrap {
        text-align: center;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        padding: 0;
        margin: 0;
        overflow: hidden;

        @include nav-desktop {
            display: flex;
            opacity: 1;
            pointer-events: all;
            max-height: 100%;
        }
    }

    .menu-item {
        background-color: $nav-bgc;
        transform: translateX(+100%);
        margin: 10px 0; 
        a{
            padding: 10px 0px;
            width: 100%;
            display: block;
            &:hover {
                transition: 0.2s;
                color: #A737E7 !important;
            }
        }
        &:nth-child(2n) {
            transform: translateX(-100%);
        } 
        &:last-child{
            border-radius: 0.5rem!important;
            a{
                &:hover{
                    color: #A737E7;
                    background: #fff;
                }
            }
        }
        @include nav-desktop {
            margin: 0 10px; 
            a {
                padding: 15px;
            } 
            background-color: transparent;
            transform: none; 
            &:nth-child(2n) {
                transform: none;
            }
        }

        display: block;
        
        transition: 0.5s;
    }

    &__btn {
        background-color: transparent;
        border: none;
        width: 50px;
        height: 50px;
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        @include nav-desktop {
            display: none;
        }

        &_row {
            transition: 0.2s;
            background-color: $nav-btn-color;
            height: 3px;
            width: 100%;
            &:nth-child(2) {
                background-color: #F417B8;
            }
        }

        &_row+&_row {
            margin-top: 7px;
        }
    }
}

.nav-open {
    @include nav-mobile {
        .nav {
            width: 100%;

            &-menu__wrap {
                height: auto;
                opacity: 1;
                pointer-events: all;
                width: 100%;
                z-index: 10;

                max-height: 100vh;
            }

            .menu-item {
                transform: none;
            }

            &__btn {
                &_row {
                    margin: 0 !important;
                }

                &_row:nth-child(1) {
                    transform: translateY(100%) rotate(-45deg);
                }

                &_row:nth-child(2) {
                    opacity: 0;
                    width: 0;
                }

                &_row:nth-child(3) {
                    transform: translateY(-100%) rotate(45deg);
                }
            }
        }
    }
}